.link {
  text-decoration: none;
  color: inherit;
}

.form {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.confirmMessage {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.modalActions {
  display: flex;
  gap: 50px;
}
