.link {
  text-decoration: none;
  color: inherit;
}

.form {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
}
