$color-white: #fff;
$color-grey-f4: #f4f4f4;
$color-grey-f7: #f7f7f7;
$color-grey-ed: #ededed;
$color-grey-e6: #e6e6e6;
$color-grey-e2: #e2e2e2;
$color-grey-e0: #e0e0e0;
$color-grey-de: #dedede;
$color-grey-c: #ccc;
$color-grey-ba: #bababa;
$color-grey-a5: #a5a5a5;
$color-grey-a2: #a2a2a2;
$color-grey-a3: #a3a3a3;
$color-grey-95: #959595;
$color-grey-9: #999;
$color-grey-82: #828282;
$color-grey-8: #888;
$color-grey-7e: #7e7e7e;
$color-grey-6: #666;
$color-grey-60: #606060;
$color-grey-43: #434343;
$color-grey-3: #333;
$color-grey-2: #222;
$color-grey-1c: #1c1c1c;
$color-grey-14: #141414;

$color-black: #000;
$color-black-a80: rgba(0, 0, 0, 0.8);
$color-black-a60: rgba(0, 0, 0, 0.6);
$color-black-a40: rgba(0, 0, 0, 0.4);
$color-black-a20: rgba(0, 0, 0, 0.2);

$color-cyan: #00f5ff;

$color-purple: #8100ef; // rgb(129, 0, 239) hsl(272, 100%, 47%);
$color-purple-d: hsl(272, 100%, 42%);
$color-purple-a80: rgba(129, 0, 239, 0.8);
$color-purple-a60: rgba(129, 0, 239, 0.6);
$color-purple-a40: rgba(129, 0, 239, 0.4);
$color-purple-a20: rgba(129, 0, 239, 0.2);

$color-green: #25754a; // rgb(37, 117, 74) hsl(148, 52%, 30%);
$color-green-d: hsl(148, 52%, 25%);
$color-green-a80: rgba(37, 117, 74, 0.8);
$color-green-a60: rgba(37, 117, 74, 0.6);
$color-green-a40: rgba(37, 117, 74, 0.4);
$color-green-a20: rgba(37, 117, 74, 0.2);

$color-red: #ff4e4e; // rgb(255, 77, 77) hsl(0, 100%, 65%);
$color-red-d: hsl(0, 100%, 60%);
$color-red-a80: rgba(255, 77, 77, 0.8);
$color-red-a60: rgba(255, 77, 77, 0.6);
$color-red-a40: rgba(255, 77, 77, 0.4);
$color-red-a20: rgba(255, 77, 77, 0.2);

$color-brown: #3a1516;

$main-gradient: linear-gradient(90deg, $color-cyan -53%, $color-purple 128%);
$main-gradient-revert: linear-gradient(
  90deg,
  $color-cyan 0%,
  $color-purple 100%
);
$light-gradient: linear-gradient(90deg, $color-cyan -5%, $color-purple 210%);
